html {
    height: 100%;
}

body {
    height: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: $footerHeight;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $footerHeight;
    border-top: 1px solid $border-dark;
}