.lab-set {

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    .lab-tile {
        margin: 4px;
        float: left;
        padding: 8px;
        width: 240px;
        border-radius: 4px;
        border: 1px solid $border-dark;

        img {
            max-width: 100%;
        }

        a {
            color: blue;
            display: block;
        }
    }
}
