nav {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: $headerHeight;
    background-color: $white;
    border-bottom: 1px solid $border-dark;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    ul li {
        padding: 8px;
        display: inline-block;
    }
}