{{#extend "layout"}}

    {{#content "title"}}
        <title>Index Page</title>
    {{/content}}

    {{#content "description"}}
        <meta name="description" content="This is the index page">
    {{/content}}

    {{#content "keywords"}}
        <meta name="keywords" content="transmogrify, xmog">
    {{/content}}

    {{#content "styles"}}{{/content}}

    {{#content "body"}}
        <h1>This is the homepage</h1>
    {{/content}}

    {{#content "scripts"}}{{/content}}

{{/extend}}
