{{#extend "layout"}}

    {{#content "title"}}
        <title>Other Page</title>
    {{/content}}

    {{#content "description"}}
        <meta name="description" content="This is the other page">
    {{/content}}

    {{#content "keywords"}}
        <meta name="keywords" content="transmogrify, xmog">
    {{/content}}

    {{#content "styles"}}{{/content}}

    {{#content "body"}}
        <h1>This is the other page</h1>
        <a href="/">Home</a>
    {{/content}}

    {{#content "scripts"}}
    {{/content}}

{{/extend}}
