html {
	font-size: 62.5%; /* Sets up the fontSize Mixin */
}
body {
	@include font-size(2.0);
	color: $dark-teal;
}
html, body {
	font-family: $fontBody;
	font-style: normal;
	font-weight: 300;
}
.pageContent {
	@include fadeIn();
}
