/* ==========================================================================
MIXINS
========================================================================== */
// styleguide:ignore:start
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin borderBox {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin coverBG {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin deepShadow {
	-moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.51);
	-webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.51);
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.51);
}
@mixin shallowShadow {
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
@mixin popupShadow {
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@mixin lightShadow {
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
// styleguide:ignore:end
