// Fonts
$fontBody: 'Sentinel SSm A', 'Sentinel SSm B', Courier, Georgia, Times, “Times New Roman”, serif;
$fontAccent: 'Source Sans Pro', Helvetica Neue, Helvetica, sans-serif;

 // Fonts
 //
 // $fontBody - Body Copy
 // $fontAccent - Accent Copy
 //
 // markup:
 // <div style="font-family: {$modifiers}; font-size: 20px;" class="font">The quick brown fox jumps over the lazy dog</div>
 //
 // Styleguide 1.1

// Colors
$pumpkin: #f78e1e;
$dark-teal: #013133;
$silver: #b9c6c7;
$haze: #f3f5f5;
$black: #000;
$turquoise: #33cccc;
$grapefruit: #ff5c5c;
$plum: #982d97;
$lightning: #f7bf1e;
$geyser: #dbe2e8;

// Brand Colors
//
// $pumpkin - Pumpkin
// $dark-teal - Dark Teal
// $silver - Silver
// $haze - Haze
// $black - Black
// $turquoise - Turquoise
// $grapefruit - Grapefruit
// $plum - Plum
// $lightning - Lightning
// $geyser - Geyser
//
// markup:
// <div style="background: {$modifiers}; padding: 30px; text-align: center; font-family: arial; color: #fff; text-shadow: #000 0 0 2px;" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.2
