<h1>{{data}}</h1>

<section class="lab-set">
    {{#each labs}}
        {{> labTile
            title=this.fields.title
            description=this.fields.description
            imgSrc=this.fields.image.fields.file.url
            href=this.fields.url
            hrefText=this.fields.linkText
        }}
    {{/each}}
</section>